* {
  margin: 0;
}

:root {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(../img/bg.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;

  color: var(--gray);
}

.avatar-container {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar-container span {
  position: absolute;
  top: -15px;

  z-index: 1;
}

.avatar-container > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(
    50% 0,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    50% 100%,
    0 75%,
    0 25%
  );
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.75rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;

  padding: 0;

  gap: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul li:hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}
